@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Đơn Hàng Của" + " " + ViewBag.UserEmail;
}
<h3>Lịch sử đơn hàng của @ViewBag.UserEmail</h3>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Order Code</th>
            <th scope="col">Order ShipingCost</th>
            <th scope="col">Order Coupon</th>
            <th scope="col">Order User</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
            <th>Action</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderCode</td>
                <td>@item.ShippingCost.ToString("#,##0 VND")</td>
                <td>@item.CouponCode</td>
                <td>@Html.Raw(@item.UserName)</td>
                <td>@item.CreatedDate</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if(item.Status == 2)
                    {
                        <span class="text text-primary">Đã xử lý</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đã Hủy</span>
                    }
                </td>
                <td>
                    @if (item.PaymentMethod == "COD" || item.PaymentMethod == null)
                    {
                        <span class="text text-primary"> @item.PaymentMethod </span>
                    }
                    else
                    {
                        <a asp-route-orderId="@item.PaymentMethod"
                           asp-action="PaymentMomoInfo"
                           asp-controller="Order"
                           class="btn btn-danger">
                            Qua MOMO @item.PaymentMethod
                        </a>
                    }

                </td>

                <td>
                    @if(item.Status != 3)
                    {
                        <a asp-action="CancelOrder" onclick="return confirm('Xác nhận hủy đơn?')" class="btn btn-danger btn-sm" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Hủy Đơn Hàng</a>

                    }
                    
                </td>

            </tr>
        }


    </tbody>
</table>