@model IEnumerable<WishListViewModel>

@{
    ViewData["title"] = "Product WishList Listed";
    var key = 0;

}

<h3>List Product WishList</h3>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            key++;
            <tr>
                <td>@key</td>
                <td>@item.Product.Name</td>
                <td>@Html.Raw(item.Product.Description)</td>
                <td>@item.Product.Price.ToString("#,##0 VND")</td>
                <td>
                    <img src="~/media/products/@item.Product.Image" width="100" height="80" />
                </td>
                <td>
                    <a asp-action="DeleteWishList"
                       class="btn btn-danger btn-sm confirmDeletion"
                       asp-controller="Home"
                       asp-route-Id="@item.Wishlist.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
